  <div class="col-sm-2">
    <%= render partial: 'common/categories', locals: {categories: @categories} %>
  </div>

  <div class="col-sm-10">
    <h3>All Products</h3>
    <% @products.each_slice(4) do |products| %>
      <div class="row">
        <% products.each do |product| %>
          <%= render partial: 'common/product-listing', locals: {product: product} %>
        <% end %>
      </div>
    <% end %>
    <div class="col-sm-12 text-center">
      <%= paginate @products %>
    </div>
  </div>
