@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #eee;
}
hr {
  border-top: 3px solid #222;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.navbar {
  margin-bottom: 0px;
  background-color: #111;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.product-container {

}

.product-info {
  padding: 5px 10px;
}

.product-info h4 {
  color: #2c3e50;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}

.product-info p {
  margin-bottom: 0px;
  color: #333;
}

.col-sm-3 {
  margin-bottom: 20px;
}

.col-sm-3 img{
  border-radius: 5px;
  border: 30px solid white;
}

h3 {
  background-color: #222;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
}

.categories ul {
  padding-left: 10px;
}
.categories ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
}
