@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family: "Oswald", sans-serif;
  min-width: 400px;
}

#logo {
  max-height: 300%;
  margin-top: -10px;
}

hr {
  border-top: 3px solid #222;
  margin: 10px 0px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.navbar {
  margin-bottom: 0px;
  background-color: #111;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-size: 20px;
}

.product-container {
  margin: 5px;
  border: 1px solid #eee;
}

.product-info {
  padding: 5px 10px;
  background-color: white;
}

.product-info h4 {
  color: #2c3e50;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 5px;
}

.product-info p {
  margin-bottom: 0px;
  color: #333;
}

.col-sm-3 {
margin: 0px;
padding: 0px;
}

.col-sm-3 img{
  border: 30px solid white;
}

.col-sm-3 .dropdown {
  text-align: right;
  margin: 10px 20px;
}

.col-sm-3 .dropdown .btn-default {
  margin: 10px 0px;
}

.row {
  margin: 0px;
}

h3 {
  padding: 10px;
  margin-bottom: 0px;
}

.categories {
  border: 1px solid #eee;
  padding: 5px;
  margin-top: 5px;
}

.categories ul {
  padding-left: 10px;
  background-color: white;
}
.categories ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
}

.categories .categories-header {
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
  margin-top: 0px;
}

.col-sm-2 .dropdown {
  margin: 20px 10px;
}

.open {
  padding: 0px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

.navbar-brand > img {
  display: inline;
}

.dropdown .btn {
  margin-bottom: 0px;
}

.nav .btn-default {
    margin: 8px 0px;
    color: #fff;
    background-color: #333;
    border-color: #333;

}

.nav .btn-default:hover {
  color: #090808;
  background-color: #76c2af;
  border-color: #000000;
}

h1, h2, h3, h4, h5, h6 {

}

@media (max-width: 768px) {
  #myCarousel {
    display: none;
  }

  .col-sm-2 .dropdown {
    margin: 5px;
  }
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}
