<div class="col-sm-2">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort By Category
    <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-righ">
      <% @categories.each do |category| %>
        <li><%= link_to category.name, category%></li>
      <% end %>
    </ul>
  </div>
</div>
